.main-header {
    padding-bottom: 3em;
    background-color: #f2f2f2;
}

.name {
    float: left;
    padding-left: 2.5%;
}

.main-nav {
    float: right;
    word-spacing: 20em;
    padding-right: 2em;
}

.dropdown-menu {
    position: relative
}

.dropdown-nav {
    float: right;
    line-height: normal;
    
    z-index: 999;
    
    display: none;

    background-color: #ffffff;
    position: fixed;
    left: 55%;
    right: 0%;
    top: 0%;
    margin: 0%;
    height: 100%;
}

.dropdown-menu img {
    position: absolute;
    right: 1em;
    width: 2.3em;
    height: 2.8em;  

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}


.menuX {
    float: right;
    margin-right: 20%;
    font-size: 1.5em;
    z-index: 1000;
}


h2 {
    text-align: center;
    background-color: #c6d9ec;
    padding: 3em;
    margin: 0em;
}

h3 {
    text-align: center;
}

.box-container1,
.box-container2,
.box-container3,
.box-container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-itemA {
    flex: none;
    text-align: center;
    width: 45%;
    height: 6em;
    margin: 10px;    
    padding-top: 1%;
    background-color: lightslategray;
}

.box-itemB {
    display: none;
    flex: none;
    text-align: center;
    width: 45%;
    height: 6em;
    margin: 10px;
    padding-top: 1%;
    background-color: lightslategray;
}

.mainfooter {
/*    display: inline-block; 不知道什麼這個會使footer無法置中*/
    padding: .5em .5em;
    background: #ecf2f9;
    margin: .5em auto;
    width: 5.8em;
}

@media (min-width: 1200px) and (max-width: 7000px) {
    .dropdown-menu {
        display: none;
        visibility: hidden;       
    }
}
/* dont know how to express over than 1200px just use 2000px instead of*/

@media (min-width: 800px) and (max-width: 1200px) {
    .dropdown-menu {
        display: none;
        visibility: hidden;       
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .main-nav {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        text-align: center;
    }
    .main-nav {
        display: none;
        visibility: hidden;
    }
    .box-itemA,
    .box-itemB {
        width: 90%;
        height: 6em;
        margin: .5em;
        padding-top: 1em;
        text-align: center;
    }
    .dropdown-menu ul {
    float: right;
    line-height: normal;
    /* margin-right: 5%;
    margin-top: 8%;   在小螢幕margin比例重新調整比較美觀 */
}

}